# .env.example

# Application Port
PORT=XXXX

# SQLite Database connection string
DATABASE_URL="your_database_connection_string_here"

# JWT Secret Key (Use a strong random string in production)
JWT_SECRET=your_jwt_secret_key_here